// Fonts:

$lato-font: 'Lato', Arial, sans-serif;
$lobster-font: 'Lobster', Arial, sans-serif;

// Colors:

$header-color: #EEE0CB;
$main-color: #848586;
$secondary-color: #280003;
$white-color: #FFF;
