// Fonts:

$main-font: 'Fira Sans', Arial, sans-serif;
$secondary-font: 'Playfair Display', Arial, sans-serif;

// Colors:

$main-color: #DAC6B5;
//$main-color: #7D98A1;

$black-color: #333;
$grey-color-extra-light: #EAEAEA;
$grey-color-light: #999;
$grey-color-dark: #666;
$white-color: #FFF;
